/* DESKTOP STYLES */

#root {
  width: 100%;
  background-color: #fafafa;
  transition: 0.05s;
}

span p:hover svg {
  color: white;
}

nav button.new-post svg,
nav button.new-post svg path {
  color: white;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #111111;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px auto;
  width: 1100px;

  color: white;
}

.mobile-menu {
  display: none;
}

.mobile-menu-toggle {
  display: none;
}

.new-post-button-mobile {
  display: none;
}

.dim-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 85%;
  background-color: white;
  z-index: 2;
}

header h2 {
  color: white;
  margin: 5px 0px;
}

.login-buttons {
  display: flex;
  align-items: center;
}

button {
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: 0.15s;
}

button:hover {
  transition: 0.15s;
}

.theme {
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: 0.15s;
  padding: 0px 8px
}

.theme:hover {
  background-color: white;
  transition: 0.15s;
}

.theme:hover svg {
  fill: black;
  transition: 0.15s;
}

.theme svg {
  fill: white;
  transition: 0.15s;
}

.login {
  margin: 0px 0px 0px 10px;
  background-color: transparent;
  color: white;
}

.login:hover {
  background-color: #fafafa;
  color: black;
}

.sign-up {
  margin: 0px 0px 0px 10px;
  background-color: #666eff;
  color: white;
}

.sign-up:hover {
  background-color: #8e94ff;
}

.nav-wrapper {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px 0px;
  background-color: white;
  transition: 0.05s;
  border-bottom: 1px solid #e8e8e8;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px auto 0px;
  width: 1100px;
  transition: 0.05s;
}

nav a {
  margin: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 5px 0px 0px;
}

nav ul li {
  list-style: none;
  margin: 0px 20px 0px 0px;
  padding-bottom: 12px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.85rem;
  border-bottom: solid 3px transparent;
  transition: 0.1s;
}

nav ul li:hover {
  transition: 0.1s;
  border-bottom: solid 3px #d1d1d1;
}

nav ul li.active {
  border-bottom: solid 3px #666eff;
}

nav div .toggle-search {
  display: none;
}

section.login-form {
  position: absolute;
  padding: 30px;
  height: fit-content;
  width: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  z-index: 3;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section.login-form span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  margin: 0px 0px 15px;
}

input#terms {
  margin: 0px 0px 0px 10px;
}

button.submit {
  height: 40px;
  color: white;
  background-color: #666eff;
}

button.submit:hover {
  background-color: #8e94ff;
}

section.home-screen {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

section.home-screen .image-container {
  display: flex;
  height: 600px;
  width: 500px;
}

section.home-screen .image-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px 0px 0px 4px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

section.home-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 500px;
  padding: 80px;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;

}

section.home-screen .container h1 {
  font-size: 1.8rem;
  align-self: flex-start;
  margin: 0px 0px 20px;
}

section.home-screen span {
  display: flex;
  align-items: center;
  margin: 40px 0px;
}

section.home-screen span button {
  font-size: 1rem;
  color: white;
  padding: 10px;
  height: 40px;
  margin: 0px 5px;
  box-sizing: border-box;
}

section.home-screen span button.sign-up:hover {
  background-color: #8e94ff;
}

section.home-screen span button.login {
  background-color: #e8e8e8;
  color: black;
  border: none;
}

section.home-screen span button.login:hover {
  border-radius: 3px;
  background-color: #d9d9d9;
}

/* Search Bar */

div.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

span.search-bar-container {
  display: flex;
  align-items: center;
  width: 60%;
}

input.search-bar {
  margin: 0px;
  padding: 8px;
  width: 100%;
  height: 31.5px;
  outline: none;
  border: 1px solid #c2c2c2;
  border-radius: 4px 0px 0px 4px;
  background-color: #fafafa;
  transition: 0.03s;
}

input.search-bar:focus {
  border: 1px solid #666eff;
  transition: 0.03s;
}

button.search {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  height: 31.5px;
  margin: 0px 0px 0px 0px;
  border-left: none;
  border-right: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-radius: 0px 4px 4px 0px;
}

button.search:hover {
  background-color: #666eff;
  color: white;
  border-right: 1px solid #666eff;
  border-top: 1px solid #666eff;
  border-bottom: 1px solid #666eff;
}

button.search:hover p, button.search:hover svg path {
  color: white;
}

button.search p {
  margin: 0px 5px;
}

/* Content Section Styles */

section.main-content {
  justify-self: center;
  width: 1100px;
  box-sizing: border-box;
  margin: 0px auto;
}

section.main-content .columns {
  display: grid;
  grid-template-columns: 75% 25%;
}

section.main-content .left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
}

section.main-content .left-column span {
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
}

.left-column header.blogs {
  display: flex;
  padding: 0px;
  align-items: center;
  background-color: #fafafa;
  transition: 0.05s;
}

.left-column header.blogs div {
  display: none;
}

button.new-post {
  display: flex;
  align-items: center;
  color: white;
  white-space: nowrap;
  background-color: #666eff;
  border: 1px solid #666eff;
}

.new-post-mobile {
  display: none;
}

button.new-post:hover {
  background-color: #8e94ff;
  border: 1px solid #8e94ff;
}

button.new-post svg g line {
  color: white;
}

.posts-container a {
  margin: 0px;
}

section.main-content .right-column {
  position: -webkit-sticky;
  position: sticky;
  top: 82px;
  margin: 75px 0px 0px 30px;
  padding: 0px;
  height: fit-content;
}

section.right-side-panel {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  border-radius: 4px;
  transition: 0.05s;
}

button.sorting-option {
  border-radius: 3px;
  background-color: transparent;
  border: solid 1px #c2c2c2;
  margin: 5px 5px 0px 0px;
  font-size: 1rem;
  padding: 0px 11px;
}

button.sorting-option.active {
  color: white;
  border: solid 1px transparent;
  background-color: #666eff;
}

button.sorting-option.active:hover {
  color: white;
  border: solid 1px transparent;
  background-color: #666eff;
}

button.sorting-option:hover {
  border: solid 1px #666eff;
  color: #666eff;
}

.more-sorting-options {
  display: flex;
  flex-direction: column;
}

.more-sorting-options label {
  font-weight: 600;
}

.more-sorting-options span {
  margin: 10px 0px;
}

/* Post card Styles */

article.post-card {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 380px;
  border-radius: 4px;
  margin: 0px 0px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #d9d9d9;
  transition: 0.1s;
}

article.post-card:hover {
  transition: 0.1s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

article.post-card .right-side {
  display: flex;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0px 3px 3px 0px;
}

article.post-card .left-side {
  padding: 0px 30px;
}

article.post-card .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article.post-card .left-side p.text {
  display: block;
  font-size: 0.9rem;
  height: 150px;
  overflow-y: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  border-top: 1px solid #d1d1d1;
}

article.post-card .left-side div div {
  display: flex;
  justify-content: space-between;
}

article.post-card .left-side div h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

article.post-card .social {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #d1d1d1;
}

article.post-card .social p svg path {
  color: #FF6B6B;
}

article.post-card .right-side img {
  object-fit: cover;
  width: 100%;
}

/* User Cards */

article.user {
  display: flex;
  align-items: center;
  padding: 1px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin: 0px 0px 20px;
  transition: 0.1s;
}

article.user:hover {
  border: 1px solid #666eff;
  transition: 0.1s;
  cursor: pointer;
}

article.user img {
  margin: 0px 20px 0px 0px;
  height: 100%;
  width: 50px;
  border-radius: 999px;
}

.author-and-time h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-and-time  img {
  margin: 0px 20px 0px 0px;
  height: 40px;
  width: 40px;
  border-radius: 999px;
}

.author-and-time p {
  font-size: 0.9rem;
  color: #878787;
  font-weight: 400;
}

/* Post Styles */

article.post {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: 0px auto;
  box-sizing: border-box;
  transition: 0.05s;
}

article.post span {
  display: flex;
  align-items: center;
}

article.post .close-button {
  position: -webkit-sticky;
  position: sticky;
  top: 50.9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px 20px;
  background-color: #fafafa;
  transition: 0.05s;
}

.close-button span {
  cursor: pointer;
  white-space: nowrap;
}

.close-button span p {
  border-bottom: 1.5px solid transparent;
  transition: 0.15s;
}

.close-button span p:hover {
  border-bottom: 1.5px solid #242424;
  transition: 0.15s;
}

.close-button h1 {
  font-size: 2rem;
  margin: 0px;
}

article.post img {
  max-width: 100%;
  height: auto
}

.article-container {
  display: flex;
}

.article-body {
  margin: 0px 0px 150px;
  width: 800px;
  min-width: 700px;
  padding: 0px 50px 0px 0px;
  border-right: 1px solid #d1d1d1;
}

.article-body span {
  display: flex;
  justify-content: center;
}

button.back-to-top {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  color: #878787;
}

button.back-to-top:hover {
  border: 1px solid #666eff;
  background-color: #666eff;
  color: white;
}

.article-body p {
  display: block;
  font-size: 1rem;
  margin: 1em 0px 2em;
}

.author-details {
  position: -webkit-sticky;
  position: sticky;
  top: 15vh;
  height: fit-content;
  width: 200px;
  min-width: 170px;
  padding: 15px 15px 15px 25px;
}

.author-details img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.author-details span p {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 3px 8px 3px 3px;
  cursor: pointer;
  border: 1px solid #d1d1d1;
}

.author-details span p:hover {
  border: 1px solid #666eff;
  color: white;
  background-color: #666eff;
}

.author-details span p:hover svg path {
  color: white
}

.author-details div h3, .author-details div p {
  white-space: nowrap;
  margin: 0px;
}

.author-details div p.date-and-time {
  white-space: nowrap;
  color: #878787;
  margin: 0px;
}

.author-details div span {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  margin: 20px 0px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.author-details p.tag {
  margin: 10px 0px;
  padding: 5px 12px;
  width: fit-content;
  border-radius: 4px;
  color: #666eff;
  border: 1px solid #666eff;
}

/* New Post Form */

section.new-post-form-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: 700px;
  border-radius: 10px;
  padding: 20px 30px;
  z-index: 3;
}

section.new-post-form-container .form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

section.new-post-form-container input {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #d1d1d1;
}

section.new-post-form-container label h4 {
  margin: 10px 0px;
}

section.new-post-form-container textarea {
  border: none;
  resize: none;
  background-color: #e8e8e8;
  height: 180px;
  border-radius: 5px;
}

section.new-post-form-container .tox .tox-statusbar {
  display: none;
}

section.new-post-form-container button[type="submit"] {
  background-color: #666eff;
  color: white;
  padding: 5px 10px;
  margin: 0px;
  width: fit-content;
  align-self: center;
}

section.new-post-form-container button.cancel {
  background-color: #e8e8e8;
  color: black;
  width: fit-content;
  padding: 5px 10px;
  margin: 0px 10px 0px 0px;
  align-self: center;
}

section.new-post-form-container button[type="submit"]:hover {
  background-color: #8e94ff;
}

section.new-post-form-container button.cancel:hover {
  background-color: #c2c2c2;
}

section.new-post-form-container .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Comments Section */

h3.comments-title {
  margin: 0px;
  padding: 20px 0px;
  border-top: 1px solid #d1d1d1;
}

section.comments {
  padding: 20px 0px 0px;
}

section.comments ul {
  padding: 0px;
}

section.comments ul li {
  list-style: none;
  padding: 10px 0px;
  margin: 10px 0px;
  border-bottom: 1px solid #d1d1d1;
}

section.comments ul li .user-details {
  display: flex;
  align-items: center;
}

section.comments ul li .user-details h4 {
  margin: 10px 0px;
}

section.comments ul li p.comment {
  margin: 0px 0px 0px 40px;
  font-size: 0.9rem;
}

section.comments ul li .user-details p {
  font-size: 0.8rem;
  margin: 0px 0px 0px 10px;
  color: #878787;
}

section.comments .add-comment {
  display: flex;
  align-items: flex-start;
}

section.comments img {
  height: 30px;
  width: 30px;
  border-radius: 999px;
  margin: 0px 10px 0px 0px;
}

section.comments .add-comment textarea {
  border: none;
  outline: none;
  border-radius: 4px;
  height: 35px;
  width: 100%;
  border: 1px solid #e8e8e8;
  box-shadow: rgba(99, 99, 99, 0.12) 0px 2px 8px 0px;
  padding: 12px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.comment-button-container {
  display: flex;
  padding: 10px 0px;
  justify-content: flex-end;
}

section.comments .add-comment button.new-post {
  white-space: nowrap;
  margin: 0px 0px 0px 10px;
}

/* Alert Message */

.alert-message.active {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 6vh;
  right: 3vw;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  z-index: 3;
}

.alert-message.active p {
  margin: 0px;
}

.alert-message {
  display: none;
}

.alert-message .alert-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
}

.alert-message svg.alert path {
  color: #FF6B6B;
}

.alert-message svg.success path {
  color: #6bffc4;
}

/* Footer */

footer {
  display: flex;
  bottom: 0;
  width: 1100px;
  margin: 0px auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

footer h4 {
  margin: 0px 2vw 0px 0px;
}

p.copyright {
  font-size: 0.7rem;
}

footer p.link {
  border-bottom: 3px solid transparent;
  transition: 0.15s;
  cursor: pointer;
}

footer p.link:hover {
  border-bottom: 3px solid #242424;
  transition: 0.15s;
}

/* Dark Mode Styles */

body.dark * {
  color: #fafafa;
}

body.dark #root, body.dark .nav-wrapper {
  background-color: #1b1b1b;
  border-color: #313131;
  transition: 0.05s;
}

body.dark .login-form {
  background-color: #1b1b1b;
  box-shadow: none;
}

body.dark .login-form input {
  background-color: #313131;
}

body.dark section.home-screen .container {
 background-color: #242424;
}

body.dark .dim-background {
  background-color: black;
}

body.dark nav {
  background-color: #1b1b1b;
  border: none;
  transition: 0.05s;
}

body.dark input.search-bar {
  border: 1px solid #363636;
  background-color: #242424;
}

body.dark button.search {
  background-color: #242424;
  border-top: 1px solid #363636;
  border-right: 1px solid #363636;
  border-bottom: 1px solid #363636;
}

body.dark button.search:hover {
  background-color: #666eff;
  border-top: 1px solid #666eff;
  border-right: 1px solid #666eff;
  border-bottom: 1px solid #666eff;
}

body.dark header.blogs {
  background-color: #1b1b1b;
}

body.dark section.right-side-panel {
  background-color: #1b1b1b;
  border: 1px solid #313131;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.05s;
}

body.dark article.post-card,
body.dark article.user {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #313131;
}

body.dark article.post-card:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
  rgba(0, 0, 0, 0.07) 0px 2px 4px,
  rgba(0, 0, 0, 0.07) 0px 4px 8px, 
  rgba(0, 0, 0, 0.07) 0px 8px 16px, 
  rgba(0, 0, 0, 0.07) 0px 16px 32px, 
  rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

body.dark article.post {
  background-color: #1b1b1b;
}

body.dark .close-button {
  background-color: #1b1b1b;
  transition: 0.05s;
}

body.dark .close-button span p:hover {
  border-bottom: 1.5px solid white;
}

body.dark section.comments .add-comment textarea {
  background-color: #5c5c5c;
  border: none;
  box-shadow: none;
}

body.dark section.comments .add-comment textarea::placeholder {
  color: white;
}

body.dark .new-post-form-container input {
  background-color: #242424;
}

body.dark .toggle-sorting-options-mobile,
body.dark section.home-screen .image-container img,
body.dark section.home-screen .container,
body.dark .left-side p.text, 
body.dark .social, 
body.dark .comments-title,
body.dark .comments ul li,
body.dark button.back-to-top,
body.dark footer, 
body.dark .form-header,
body.dark .article-body,
body.dark .author-details span {
  border-color: #313131;
}

body.dark .author-details span p, 
body.dark button.sorting-option,
body.dark button.back-to-top {
  border-color: #5c5c5c;
}

body.dark .author-details span p:hover, 
body.dark button.sorting-option.active,
body.dark button.back-to-top:hover {
  border-color: #666eff;
}

body.dark .form-header {
  border-bottom: 1px solid #5c5c5c;
}

body.dark .new-post-form-container input {
  border: 1px solid #5c5c5c;
}

body.dark .alert-message.active {
  background-color: black;
}

body.dark .alert-message svg.alert path {
  color: #FF6B6B;
}

body.dark .alert-message svg.success path {
  color: #6bffc4;
}

/* New Post Rich Text Editor Dark Styles */

body .tox-tinymce {
  border-radius: 4px;
  border: 1px solid #d1d1d1;
}

body .tox .tox-editor-header {
  z-index: unset;
}

body.dark .tox-tinymce {
  border-radius: 4px;
  border: 1px solid #5c5c5c;
}

body.dark .tox .tox-toolbar-overlord {
  background-color: unset;
}

body.dark .tox .tox-tbtn--bespoke {
  background-color: #5c5c5c;
  color: white;
  border: 1px solid transparent;
}

body.dark .tox .tox-collection--list 
.tox-collection__item--active:not(.tox-collection__item--state-disabled) {
  color: white;
  background-color: #878787;
}

body.dark .tox:not(.tox-tinymce-inline) .tox-editor-header,
body.dark .tox .tox-toolbar__primary,
body.dark .tox .tox-collection--list .tox-collection__group:first-child,
body.dark .tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  background-color: #313131;
}

body.dark .tox .tox-menu,
body.dark .tox.tox-tinymce-aux .tox-toolbar__overflow {
  background-color: #313131;
  border: 1px solid #5c5c5c;
}

body.dark .tox .tox-collection__item {
  background-color: #363636;
  color: white;
}

body.dark .tox .tox-tbtn svg {
  fill: white;
}
body.dark .tox .tox-tbtn:hover {
  background-color: #5c5c5c;
  border: 1px solid #8e94ff;
}

body.dark .tox .tox-collection--toolbar-lg .tox-collection__item-icon:hover {
  background-color: #5c5c5c;
}

body.dark .tox .tox-tbtn--enabled, .tox .tox-tbtn--enabled:hover {
  background: #8e94ff;
}
