/* MOBILE STYLES */

@media screen and (max-width: 500px) {

    .header-wrapper {
      position: sticky;
      background-color: #111111;
      top: 0;
      z-index: 1;
      padding: 0px 4vw;
    }

    .nav-wrapper {
      display: none;
    }

    header h2 {
      font-size: 1.2rem;
    }

    header .login-buttons {
      display: none;
    }

    section.login-form {
      padding: 20px;
    }

    .mobile-menu-toggle {
      display: flex;
      align-items: center;
    }

    .mobile-menu-toggle svg {
      color: white;
      height: 25px;
      width: 25px;
      margin: 0px -4px 0px 0px;
    }

    .mobile-menu-toggle svg path {
      color: white;
    }

    .mobile-menu {
      display: flex;
      position: fixed;
      overflow-y: scroll;
      z-index: 5;
      height: 100%;
      width: 100vw;
      top: 0;
      left: 0;
      background-color: #fafafa;
      box-sizing: border-box;
      padding: 0px 35px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
      transition: 0.3s;
    }

    .mobile-menu.hidden {
      position: absolute;
      transform: translateX(-1000px);
      transition: 0.3s;
    }

    .mobile-menu header {
      padding: 0px;
      display: flex;
      align-items: center;
      background-color: transparent;
    }

    .mobile-menu .menu .search {
      display: flex;
      height: 35px;
      margin: 0px 0px 40px;
    }

    .mobile-menu .menu button.search {
      padding: 0px 15px 0px 15px;
      margin: 0px;
    }

    .mobile-menu .menu .search .search-bar-container {
      height: 100%;
    }

    .mobile-menu .menu .search .search-bar-container input.search-bar {
      height: 100%;
    }

    .mobile-menu .menu {
      width: 100%;
    }

    .mobile-menu .menu {
      display: flex;
      flex-direction: column;
    }

    .mobile-menu .menu ul {
      display: flex;
      flex-direction: column;
      padding: 30px 0px;
      margin: 0px 0px;
      border-top: 0.5px solid #c2c2c2;
    }

    .mobile-menu .menu ul li {
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0.6em 0px;
      color: #242424;
    }

    .mobile-menu .menu ul li svg {
      margin: 0px 25px 0px 0px;
    }

    .mobile-menu .menu ul li svg path {
      color: #8e94ff;
    }
    
    nav {
      display: none;
      flex-direction: column;
    }
  
    nav div {
      display: flex;
      justify-content: space-between;
    }
  
    nav div .toggle-search {
      display: flex;
      align-items: center;
      margin: 0px 16px 8px 8px;
    }
  
    .new-post-mobile {
      display: flex;
    }
  
    span.search-bar-container {
      width: 100%;
    }
  
    .new-post-desktop {
      display: none;
    }

    /* Home screen styles */

    section.home-screen {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      box-sizing: border-box;
      padding: 0px;
      margin: 0px;
    }

    section.home-screen .image-container {
      width: 100%;
      border-radius: 0px;
      border: none;
      padding: 0px;
    }

    section.home-screen .image-container img {
      border-radius: 0px;
      border: none;
    }

    section.home-screen .container {
      display: flex;
      width: 100%;
      height: 50%;
      border-radius: 0px;
      padding: 0px 30px;
      text-align: center;
      border: none;
      background-color: transparent;
    }

    section.home-screen .container h1 {
      font-size: 1.6rem;
    }

    .left-column header.blogs {
      top: 48.8px;
      padding: 0px 4vw;
    }

    section.home-screen .container p {
      margin: 0px;
    }

    /* Mobile Profile Styles */

    section.profile-section {
      display: flex;
      flex-direction: column;
    }

    section.profile-section .details {
      position: unset;
      margin: 0px;
    }

    section.profile-section article.post-card {
      width: 100%;
    }

    section.profile-section .details .image-container {
      margin: 0px;
    }

    section.profile-section button.new-post {
      margin: 0px;
    }

    /* Main Content Styles */

    .posts-container {
      padding: 0px 4vw;
    }
  
    section.main-content .right-column {
      top: 14vh;
      right: 3.5vw;
      border-radius: 11px;
    }
  
    article.post-card {
      display: flex;
      flex-direction: column-reverse;
      height: fit-content;
      width: 100%;
      margin-bottom: 20px;
    }

    article.post-card .right-side {
      border-radius: 3px 3px 0px 0px;
    }

    article.post-card .image-container {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 999px;
    }

    article.post-card .image-container img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  
    article.post-card .right-side img {
      height: 270px;
      border-radius: 3px 3px 0px 0px;
    }    
  
    article.post-card .left-side {
      padding: 0px 15px;
    }

    /* Mobile article styles */
  
    article.post .close-button p {
      margin: 5px 0px;
    }
  
    article.post .close-button h1 {
      width: 70%;
    }
  
    .author-details {
      padding: 10px 2vw 15px;
    }

    .author-details div {
      width: unset;
      margin: 0px;
    }
  
    .author-details div h3 {
      font-size: 1rem;
      margin: 0px 0px 0px 5px;
    }

    .article-container .author-details a {
      display: flex;
      align-items: center;
    }

    .article-container .author-details .image-container {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 999px;
      margin: 0px;
      box-sizing: border-box;
    }

    .article-container .author-details .image-container img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .author-details .author {
      display: flex;
      flex-wrap: nowrap;
      width: 72vw;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0px 0px 3px;
      padding: 0px 5px;
      -webkit-mask-image: linear-gradient(90deg,transparent,#000 3%,#000 97%,transparent);
      mask-image: linear-gradient(90deg,transparent,#000 3%,#000 97%,transparent);
    }
  
    .author-details div span {
      margin: 5px;
    }
  
    article.post .close-button {
      display: flex;
      flex-direction: row;
      padding: 6px 4vw 6px;
      top: 48.8px;
      z-index: 1;
    }
    
    article.post .close-button h1 {
      font-size: 1.3rem;
      width: 100%;
      margin: 10px 0px;
    }
  
    article.post .close-button a {
      justify-content: flex-start;
      align-self: center;
    }
  
    article.post .close-button a span p {
      font-size: 0.7rem;
      word-break: normal;
      white-space: normal;
      width: fit-content;
    }

    .tags p.tag, body.dark .tags p.tag {
      margin: 0px 10px 0px 0px;
      font-size: 0.8rem;
    }

    .author-details .post-options {
      justify-self: flex-end;
      margin: 0px;
      padding: 0px;
    }

    button.new-post {
      margin: 5px;
    }

    section.comments ul li .user-details h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      max-width: 150px;
    }
  
    /* New Post Form Mobile */
  
    section.new-post-form-container {
      width: 100vw;
      box-sizing: border-box;
      overflow-y: scroll;
      padding: 20px 4vw;
    }
  
    section.new-post-form-container .form-header {
      padding: 0px 0px 10px;
    }
  
    section.new-post-form-container .form-header h1 {
      font-size: 1.2rem;
      margin: 0px;
    }
  
    section.new-post-form-container input {
      margin: 0px 0px 10px;
    }
  
    section.new-post-form-container label h4 {
      font-size: 0.9rem;
    }
  
    section.new-post-form-container .formatting-buttons p {
      font-size: 0.8rem;
      margin: 5px 0px 10px;
    }
  
    section.new-post-form-container .formatting-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0px;
    }
  
    section.new-post-form-container .formatting-buttons div button {
      margin: 0px 10px 0px 0px;
    }

    /* Footer Styles */

    footer {
      padding: 0px 4vw;
    }

    footer h4 {
      font-size: 0.8rem;
    }

    footer p.copyright {
      font-size: 0.6rem;
    }

    footer div p.link {
      font-size: 0.7rem;
      margin: 0px;
    }

    /* Alert Message */

    .alert-message.active {
      left: 0;
      right: 0;
      bottom: 3vh;
      max-width: 90%;
      width: fit-content;
      margin: auto;
      font-size: 0.85rem;
      box-sizing: border-box;
    }

    /* New Post Button Mobile */

    .new-post-button-mobile {
      display: flex;
      position: fixed;
      bottom: 3vh;
      right: 5vw;
      border-radius: 999px;
      background-color: #666eff;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }

    .new-post-button-mobile a {
      display: flex;
      align-items: center;
      margin: 0px;
      padding: 16px;
      border-radius: 999px;
    }

    .new-post-button-mobile svg path, .new-post-button-mobile svg {
      color: white;
    }

    section.profile-section .details {
      width: 100%;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    section.profile-section .details .user-details {
      width: 100%;
      margin-left: 0px;
    }

    section.profile-section .details .user-details .user-info {
      width: unset;
    }

    .update-form-container {
      width: 95vw;
      box-sizing: border-box;
      padding: 15px;
      margin: auto;
    }

    /* Subscriptions */

    article.user {
      padding: 6px;
    }

    article.user .image-container {
      margin: 0px 10px 0px 0px;
    }

    article.user .image-container img {
      height: 35px;
      width: 35px;
      border-radius: 999px;
    }

    article.user button.unsubscribe {
      margin: 0px;
    }

    article.user p {
      font-size: 0.8rem;
      margin: 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    article.user .button-container {
      margin: 0px 10px 0px 0px;
    }

    /* Dark Mode */

    body.dark .mobile-menu {
      background-color: #15151c;
    }
  
    body.dark .mobile-menu h1, body.dark .mobile-menu li  {
      color: #fafafa;
    }
  
    body.dark .mobile-menu header svg, body.dark .mobile-menu header svg path {
      color: white;
    }
  
    body.dark .mobile-menu ul {
      border-top: 1px solid #2b292f;
    }
  
    body.dark button.search svg path, body.dark button.search svg {
      color: white;
    }
  
    body.dark section.home-screen .container {
      background-color: transparent;
    }
  }
